{% extends 'base_afterlogin.html' %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'body_edit.css' %}">
{% endblock customcss %}

{% block title %}
体重データ追加
{% endblock title %}

{% block header %}
<h1>Muscle App</h1>
    <a href="{% url 'home' %}" class="btn btn-secondary">ホーム画面へ</a>
    <a href="{% url 'timeline_workout' %}" class="btn btn-secondary">タイムラインへ</a>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="content">
<form action="" method="POST">{% csrf_token %}
    <p>体重:<input type="number" name="weight" step="0.01">kg</p>
    <p>体脂肪率:<input type="number" name="percent_body_fat" step="0.1">kg</p>
    <p>筋肉量:<input type="number" name="muscle_mass" step="0.01">kg</p>
    <input type="hidden" name="author" value="{{ user.username }}">
    <input type="submit" value="追加する">
</form>
</div>
{% else %}
<a href="{% url 'login' %}">ログイン</a>してください
{% endif %}

{% endblock content %}